[Unit]
Description=Plain Store
After=network.target

[Service]
Type=simple
User=linuxuser
WorkingDirectory=/opt/plain-store
ExecStart=/usr/bin/npm start
Restart=on-failure
RestartSec=3
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
